[Unit]
Description=Inky weather display update

[Service]
Type=oneshot
WorkingDirectory=/home/llego/inky-impression-weather
ExecStart=/home/llego/.virtualenvs/pimoroni/bin/python /home/llego/inky-impression-weather/update-weather.py --display
